* {
    box-sizing: border-box;
  }

  body {
    background: rgb(101, 101, 175);
    color: var(--grey);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  header {
    text-align: center;
    padding: 30px 25px;
    margin: 50px;
  }

  .timer {
      font-size: 40px;
  }

  .container {
      flex:auto;
      text-align: center;
      justify-content: space-between;
  }

  .question {
      justify-content: center;
  }

  .question-container {
    flex:auto;
    text-align: center;
    justify-content: space-between;
  }

  .answer {
      flex:auto;
      justify-content: space-around;
      padding: 15px;
      margin: 20px;
      font-size: 20px;
  }

  .btn {
      color: rgb(54, 3, 54);
      background:rgb(29, 135, 161);
      height: 75px;
      width: 200px;    
      font-size: 40px;
      font-weight: bold;
    }

    button {
        color:rgb(3, 11, 80);
        background:rgb(29, 135, 161);
    }